/*For stack of buttons leading to somewhere like in index*/
.button-lineup{
    width: 100%;
    max-width: 17cm;
    margin: 5px auto 5px auto;
  }
  
  .button-lineup button{ 
    width: 100%;
    margin: 0 auto 0 auto;
  }

  .button-lineup h2{
    margin: 5px;
  }