

  
    .buttonbg{
      display: block;
      height: 5vw;
      width: 80vw;
      max-width: 15cm;
      max-height: 0.94cm;
      background-image: url('https://images.squidge.org/images/2023/11/30/button.png');
      text-align:center;
      color: white;
      background-position: center;
      background-repeat:no-repeat;
      background-size: 100% 100%;
      padding-bottom: auto;
      display: table;
      margin:scroll;
      font-size: 17px;
    }
  
    .buttonbg:hover{
     background-image: url("https://images.squidge.org/images/2023/11/30/buttonpressed.png");
    }
  
    .buttontext{
      padding: 0px;
      margin: 5px;
      font-family: "Verdana";
      font-size: larger;
      font-stretch:extra-expanded;
    }