
.screenreader {
      position: absolute;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  
.buttonbg{
      display: block;
      height: 9vw;
      width: 90vw;
      max-height: 0.94cm;
      background-color: grey;
      background-image: url('https://images.squidge.org/images/2023/11/30/button.png');
      text-align:center;
      color: white;
      background-position: center;
      background-repeat:no-repeat;
      background-size: 100% 100%;
      max-width: 15cm;
      margin: 0 auto 0 auto;
      overflow: hidden;

}

.buttonbg:hover{
     background-image: url("https://images.squidge.org/images/2023/11/30/buttonpressed.png");
}
  
.buttontext{
      display:inline-block;
      background-color: rgb(37, 37, 65);
      font-family: "Verdana";
      font-size: large;
      font-stretch:extra-expanded;
      line-height: 0;
      vertical-align: middle;


}
