.textdiv{
  width: 90vw;
  max-width: 15cm;
  margin: auto;
}

.textdiv p{
    display: block;
    border: 1.5px solid;
    line-height: 1;

    max-width: 5.5cm;
    width: 50vw;
    width: fit-content;

    padding: 3px 15px 3px 15px;
    border-radius: 15px;
    margin: 0.5em auto;
    white-space: normal;
    overflow:visible;
    word-break:break-all;
  }

.textdiv .left{
    border-bottom-left-radius: 0;
    margin-right: auto;
    margin-left: 0;

}

.textdiv .right{
    border-bottom-right-radius: 0;
    margin-right: 0;
    margin-left: auto;
    text-align: left;
}
