.textdiv{
  width: 90vw;
  max-width: 15cm;
  margin: auto;
}

.texting{
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.53);
    width: 50vw;
    max-width: 5cm;
    width: fit-content;
    padding: 3px 15px 3px 15px;
    border-radius: 15px;
    margin: 2px auto;
    white-space: normal;
    overflow: hidden;

  }

  .left{
    border-bottom-left-radius: 0;
    margin-right: auto;
    margin-left: 0;

  }

  .right{
    border-bottom-right-radius: 0;
    margin-right: 0;
    margin-left: auto;
  }