.textdiv{
  width: 90vw;
  max-width: 15cm;
  margin: auto;
}

.texting{
    display: block;
    border: 1.5px solid;
    width: 50vw;
    max-width: 7cm;
    width: fit-content;
    padding: 3px 15px 3px 15px;
    border-radius: 15px;
    margin: 0.5em auto;
    white-space: normal;
    overflow: hidden;

  }

  .left{
    border-bottom-left-radius: 0;
    margin-right: auto;
    margin-left: 0;

  }

  .right{
    border-bottom-right-radius: 0;
    margin-right: 0;
    margin-left: auto;
    text-align: left;
  }

  .textdiv p{
    line-height: 1;
    margin: 0 auto;
  }