
 .twt {
  float: center;
  max-width: 200px;
  min-width: 300px;
  margin: 0em auto;
  padding: 20px;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.twtwhite{
  background-color: white;
  color: black;
}

.twtdark{
  background-color: black;
  color: white;
}

.twtaddbelow{
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.twtaddabove{
  border-top: none;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.twtminimal{
  border: none;
}

 .twt-header {
  overflow: hidden;
  margin-bottom: 1em;
}

 .twt-icon-container {
  float: left;
}

 .twt-icon {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
}

 .twt-iconquote {
  border-radius: 50%;
  width: 2em;
}

 .twt-id {
  font-size: 1em;
  padding-left: 1em;
  overflow: hidden;
}

 .twt-name {
  font-weight: bold;
}

 .twt-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

 .twt-handle {
  color: #657786;
}

 .twt-handle:hover {
  cursor: pointer;
}

 .twt-content {
  font-size: 1.3em;
  margin-bottom: 1em;
}

 .twt-contentquote {
  margin-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
}

 .twt-timestamp {
  color: #657786;
  font-size: 1em;
}

 hr.twt-sep,
 hr.twt-sep-reply {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
}

 hr.twt-sep-reply {
  margin-left: -20px;
  padding-right: 40px;
}

 .twt-stat1 {
  color: #657786;
  font-size: 0.9em;
}

 .twt-quotebox {

  padding: 10px;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  margin-bottom: 1em;

}

 .twt-image {
  float: center;
  max-width: 100%;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  margin-bottom: 1em;
}

 .twt-replybox {
  margin-top: 1em;
}

 .twt-icon-replycontainer {
  float: left;
}

 .twt-replycontainer {
  padding-left: 1em;
  overflow: hidden;
}

 .twt-replycontent {
  margin-top: 1em;
}

 .twt-stat2 {
  color: #657786;
  font-size: 0.9em;
  margin-top: 1em;
}

 .twt-social {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
}

 .twt-socialimg {
  height: 13px;
  margin-right: 3px;
}

 .twt-hl {
  color: #1DA1F2;
}

 .twt-hl:hover {
  text-decoration: underline;
  cursor: pointer;
}