
 .twt {
  width: vw;
  max-width: 12cm;
  margin: 0em auto;
  padding: 10px 10px 1px 10px;
  border: 1px solid rgb(102, 120, 135,0.5);
  border-top:0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

}

.twt p{
  margin: 0px auto;
}

/*different twitter colours*/
.twtwhite{
  background-color: white;
  color: black;
}

.twtblack{
  background-color: black;
  color: white;
}

/*makes sure that the starting tweet has a top border*/
.twtstart{
  border-top:1px solid rgb(102, 120, 135,0.5);
}

/*another twitter style, put here so it can overtake the .twtstart and .twtend*/
.twtminimal{
  border: none;
}

 .twt-header {
  display: block;
  display: block;
  margin-bottom: auto;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 1em;
}

 .twt-icon-container {
  display:inline-block;
  padding: 0px;


}

.twt-id {
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
  padding-left: 20px;
 }


 .twt-icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

 .twt-iconquote {
  border-radius: 50%;
  width: 2em;
}


 .twt-name {
  font-weight: bold;

}

 .twt-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

 .twt-handle {
  font-size: small;
  font-weight: normal;
  color: #657786;
}

 .twt-handle:hover {
  cursor: pointer;
}

 .twt-content {
  font-size: 1.3em;
  margin-bottom: 1em;
  
}

 .twt-contentquote {
  margin-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
}

 .twt-timestamp {
  color: #657786;
  font-size: small;
  margin-left: 20px;
}

 hr.twt-sep,
 hr.twt-sep-reply {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #657786;
}

 .twt-stat {
  background-color: beige;
  display: flex;
  justify-content: space-around;
  color: #657786;
  font-size: small;
  margin: 0px auto 10px auto;
}


 .twt-quotebox {

  padding: 10px;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  margin-bottom: 1em;

}
.twt-image{
  width: 100%;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  margin-bottom: 1em;
  column-gap: 0;
  overflow: hidden;
}
.twt-image>div{
  height: 4cm;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.imagesmulti{
  columns: 2;
}

.thirdimage{
  width: 200% !important;
}


 .twt-replybox {
  display: block;
  
}

 .twt-icon-replycontainer {
 display: inline-block;
  width: 60px;
  display: inline-block;
  vertical-align: top;
}

 .twt-replycontainer {
  padding-left: 20px;
  display: inline-block;
  overflow: hidden;
}

.twt-replying-to{
  color: #657786;
  font-size: smaller;
}



.twt-timestamp-reply{
  text-align: right;
  margin-right: 0px;
  margin-left: auto;
}

 .twt-replycontent {
  margin: 10px 0;
}


 .twt-social {
  margin-right: 2em;
  margin-bottom: 1em;
}

 .twt-socialimg {
  height: 13px;
  margin-right: 3px;
}

 .twt-hl {
  color: #1DA1F2;
}

 .twt-hl:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Polls*/


.twt .twtpoll {
  height: 29px;
  width: 90%;
  float: middle;
  margin: 0 auto 5px auto;
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  border-color: #209AED;
}

.twt .twtpolltext {
  display: inline-block;
  font-weight: bold;
  position: relative;
  font-size: 13px;
  color: #209AED;
}

.twt .pollvotes {
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 10px;
  font-size: 12px;
  display: inline-block;
}