
 .twt {
  width: 400px;
  margin: 0em auto;
  padding: 10px 10px 5px 10px;
  border: 1px solid rgb(102, 120, 135,0.5);
  border-top:0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

/*different twitter colours*/
.twtwhite{
  background-color: white;
  color: black;
}

.twtblack{
  background-color: black;
  color: white;
}

.twtstart{
  border-top:1px solid rgb(102, 120, 135,0.5);
}

/*another twitter style, put here so it can overtake the .twtstart and .twtend*/
.twtminimal{
  border: none;
}

 .twt-header {
  display: block;
  background-color: antiquewhite;
  display: block;
  margin-bottom: auto;

  overflow: hidden;
  margin-bottom: 1em;
}

 .twt-icon-container {
  display:inline-block;
  background-color: #657786;


}

 .twt-icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

 .twt-iconquote {
  border-radius: 50%;
  width: 2em;
}

 .twt-id {
  background-color: lightblue;
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
  padding-left: 4px;
 }

 .twt-name {
  font-weight: bold;

}

 .twt-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

 .twt-handle {
  font-size: small;
  font-weight: normal;
  color: #657786;
}

 .twt-handle:hover {
  cursor: pointer;
}

 .twt-content {
  font-size: 1.3em;
  margin-bottom: 1em;
}

 .twt-contentquote {
  margin-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
}

 .twt-timestamp {
  color: #657786;
  font-size: small;
}

 hr.twt-sep,
 hr.twt-sep-reply {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #657786;
}

 .twt-stat {
  margin: auto 10px;
  padding: 0;
  text-align: center;
  color: #657786;
  font-size: 0.9em;
  columns: 3;

}

 .twt-quotebox {

  padding: 10px;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  margin-bottom: 1em;

}
.twt-image{
  width: 100%;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  margin-bottom: 1em;
  column-gap: 0;
  overflow: hidden;
}
.twt-image>div{
  height: 4cm;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.imagesmulti{
  columns: 2;
}

.thirdimage{
  width: 200% !important;
}


 .twt-replybox {
  display: block;

  background-color: aliceblue;
  
}

 .twt-icon-replycontainer {
  width: 60px;
  display: inline-block;
  vertical-align: top;
}

 .twt-replycontainer {
  display: inline-block;
  background-color: aquamarine;
  overflow: hidden;
  padding-right: auto;
  margin-right: 0px;
}

.twt-replying-to{
  background-color:bisque;
}

.twt-reply-date{
  margin-left: auto;
  margin-left: 0;

}

 .twt-replycontent {
  margin-top: 1em;
}

 .twt-stat-reply {
  margin-left: 40px;
}

 .twt-social {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
}

 .twt-socialimg {
  height: 13px;
  margin-right: 3px;
}

 .twt-hl {
  color: #1DA1F2;
}

 .twt-hl:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Polls*/


.twt .twtpoll {
  height: 29px;
  width: 90%;
  float: middle;
  margin: 0 auto 5px auto;
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  border-color: #209AED;
}

.twt .twtpolltext {
  display: inline-block;
  font-weight: bold;
  position: relative;
  vertical-align: middle;
  margin-bottom: 3px;
  font-size: 13px;
  color: #209AED;
}

.twt .pollvotes {
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 10px;
  font-size: 12px;
  display: inline-block;
}