.screenreader {
    position: absolute;
    height: 1px;
    padding: 0;
    margin: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  p {
    line-height: 1.2em;
  }
  
  a,
  a:link,
  a:visited,
  a:hover {
    border-bottom: none;
    color: inherit;
    text-decoration: none;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
  }
  
  .twt {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    width: 332px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: 0;
    padding-top: 2px;
  }
  
  .twt .bg1,
  .twt .bg2,
  .twt .bg3 {
    min-width: 330px;
    position: relative;
    border-radius: 2px;
  }
  
  .twt .bg1 {
    overflow: hidden;
    padding-bottom: 10px;
    margin-top: 10px;
    border: 1px solid;
  }
  
  .twt .bg2 {
    height: 540px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid;
  }
  
  .twt .bg3 {
    height: 530px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid;
  }
  
  .twt hr.line,
  .twt hr.line2 {
    border: none;
    position: relative;
    height: .8px;
    width: 100%;
  }
  
  .twt hr.line {
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: 0px;
  }
  
  .twt hr.line2 {
    opacity: 0;
    margin-top: 0px;
    margin-bottom: 28px;
  }
  
  .twt .headerdm {
    min-width: 330px;
    top: 0px;
    vertical-align: top;
    border-bottom: 1px solid;
    padding-top: 20px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
    position: sticky;
    z-index: 8;
  }
  
  .twt .icon {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 45px;
    height: 45px;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 6px;
    border: 4px solid;
  }
  
  .twt .headerdmicon {
    width: 30px;
    height: 30px;
    vertical-align: top;
    margin-top: 8px;
    margin-left: 62px;
    z-index: 3;
  }
  
  .twt .iconqt {
    float: left;
    width: 19px;
    height: 19px;
    margin-top: 23px;
    margin-left: 2px;
  }
  
  .twt .twtcircleicon {
    width: 26px;
    margin-top: 10px;
    left: 18px;
  }
  
  .twt .icondm {
    width: 30px;
    height: 30px;
    left: -42px;
    bottom: 2px;
    z-index: 3;
  }
  
  .twt .headerdmicon,
  .twt .iconqt,
  .twt .twtcircleicon,
  .twt .icondm {
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
  }
  
  .twt .headerbutton1,
  .twt .headerbutton4 {
    width: 30px;
    height: 30px;
    vertical-align: top;
    position: absolute;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .twt .headerbutton1 {
    margin-top: 7px;
    margin-left: 17px;
  }
  
  .twt .headerbutton4 {
    margin-top: 8px;
    margin-left: 285px;
  }
  
  .twt .headertext {
    max-width: 200px;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 67px;
    position: absolute;
    font-size: 20px;
    display: inline-block;
    font-weight: medium;
  }
  
  .twt .headerdmtext {
    max-width: 150px;
    vertical-align: top;
    padding-top: 10px;
    height: 30px;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 100px;
    position: absolute;
    font-size: 17px;
    display: inline-block;
    font-weight: bold;
  }
  
  .twt .footer {
    position: relative;
  }
  
  .twt .footerbutton6,
  .twt .dmfooterbutton1,
  .twt .dmfooterbutton2,
  .twt .dmfooterbutton3 {
    width: 26px;
    height: 26px;
    vertical-align: top;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .twt .footerbutton6 {
    margin-top: 4px;
    margin-left: 273px;
  }
  
  .twt .dmfooter,
  .twt .dmfooterblocked {
    min-width: 330px;
    height: 50px;
    position: relative;
    vertical-align: bottom;
    overflow: hidden;
   top: 5px;
  margin-bottom: 12px;
  }
  
  .twt .dmfooter {
    padding-bottom: 0px;
  }
  
  .twt .dmfooterblocked {
    border-top: 1px solid;
    text-align: center;
    padding: 0px 5px 0px 5px;
    font-size: 12px;
  }
  
  .twt .dmfooterbar {
    height: 42px;
    width: 306px;
    top: 5px;
    left: 11px;
    border-radius: 20px;
    text-align: left;
    overflow: hidden;
    position: absolute;
  }
  
  .twt .dmfooterbartext {
    display: inline-block;
    position: absolute;
    margin-top: 19.5px;
    margin-left: 86px;
    font-size: 13.5px;
  }
  
  .twt .dmfooterbutton1 {
    margin-left: 17px;
    margin-top: 6px;
    position: absolute;
  }
  
  .twt .dmfooterbutton2 {
    margin-left: 50px;
    margin-top: 6px;
    position: absolute;
  }
  
  .twt .dmfooterbutton3 {
    margin-left: 265px;
    margin-top: 6px;
    position: absolute;
  }
  
  .twt .twtfooter {
    width: 300px;
    left: 14px;
    height: 38px;
    top: 0px;
    position: relative;
    vertical-align: bottom;
    border-bottom: 1px solid;
  }
  
  .twt .twtfootertext {
    font-size: 14px;
    display: inline-block;
    position: relative;
    width: 270px;
    text-align: left;
    top: 22px;
  }
  
  .twt .reply {
    min-height: 50px;
    min-width: 330px;
    max-width: 330px;
    vertical-align: top;
    top: -5px;
  }
  
  .twt .replycontent {
    margin-top: -15px;
    padding-left: 65px;
    font-size: 14px;
    display: inline-block;
    width: 245px;
    text-align: left;
  }
  
  .twt .replyid {
    padding-left: 65px;
    margin-top: -40px;
    margin-bottom: 2px;
  }
  
  .twt .replyname {
    font-weight: bold;
    font-size: 14.1px;
  }
  
  .twt .replyhandle {
    font-size: 14.1px;
  }
  
  .twt .replydots,
  .twt .twtdots {
    position: absolute;
    height: 18px;
    width: 18px;
    margin-left: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .twt .replydots {
    margin-top: -16px;
  }
  
  .twt .twtdots {
    margin-top: -50px;
  }
  
  .twt .links {
    color: #209AED;
  }
  
  .twt .replyingto {
    height: 18px;
    width: 200px;
    margin-left: 64px;
    margin-top: -16px;
    margin-bottom: 18px;
    font-size: 14px;
  }
  
  .twt .replyvertical1,
  .twt .replyvertical2,
  .twt .replyvertical3,
  .twt .replyvertical4,
  .twt .replyvertical5 {
    border-left: 2.7px solid;
    display: inline-block;
    position: relative;
    z-index: 2;
  }
  
  .twt .replyvertical1 {
    min-height: 100px;
    top: 22px;
    left: 32px;
  }
  
  .twt .replyvertical2 {
    min-height: 150px;
    top: 28px;
    left: 32px;
  }
  
  .twt .replyvertical3 {
    min-height: 200px;
    top: 25px;
    left: 32px;
  }
  
  .twt .replyvertical4 {
    min-height: 250px;
    top: 22px;
    left: 32px;
  }
  
  .twt .replyvertical5 {
    min-height: 340px;
    top: 22px;
    left: 32px;
  }
  
  .twt .sharebar,
  .twt .sharebar1,
  .twt .sharebar2,
  .twt .sharebar3,
  .twt .sharebar4,
  .twt .sharebar5 {
    min-height: 28px;
    margin-top: -12px;
    margin-left: 29px;
  }
  
  .twt .sharebar {
    margin-bottom: -3px;
  }
  
  .twt .sharebar1 {
    margin-bottom: -95px;
  }
  
  .twt .sharebar2 {
    margin-bottom: -152px;
  }
  
  .twt .sharebar3 {
    margin-bottom: -200px;
  }
  
  .twt .sharebar4 {
    margin-bottom: -250px;
  }
  
  .twt .sharebar5 {
    margin-bottom: -340px;
  }
  
  .twt .replybutton1a,
  .twt .replybutton1b,
  .twt .replybutton2a,
  .twt .replybutton2b,
  .twt .replybutton2c,
  .twt .replybutton3a,
  .twt .replybutton3b,
  .twt .replybutton4 {
    width: 18px;
    height: 18px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    position: absolute;
  }
  
  .twt .replybutton1a,
  .twt .replybutton1b {
    margin-left: 37px;
  }
  
  .twt .replybutton2a,
  .twt .replybutton2b,
  .twt .replybutton2c {
    margin-left: 106px;
  }
  
  .twt .replybutton3a,
  .twt .replybutton3b {
    margin-left: 175px;
  }
  
  .twt .replybutton4 {
    margin-left: 244px;
  }
  
  .twt .reply1a,
  .twt .reply1b,
  .twt .reply2a,
  .twt .reply2b,
  .twt .reply2c,
  .twt .reply3a,
  .twt .reply3b {
    font-size: 12px;
    margin-top: 14px;
    margin-bottom: -10px;
    display: inline-block;
    position: absolute;
  }
  
  .twt .reply1a,
  .twt .reply1b {
    margin-left: 60px;
  }
  
  .twt .reply2a,
  .twt .reply2b {
    margin-left: 130px;
  }
  
  .twt .reply2c {
    color: #00BA7B;
    margin-left: 130px;
  }
  
  .twt .reply3a {
    margin-left: 198px;
  }
  
  .twt .reply3b {
    color: #F91880;
    margin-left: 198px;
  }
  
  .twt .replyqtbox {
    width: 226px;
    margin-bottom: 25px;
  }
  
  .twt .twtqtbox {
    width: 275px;
    margin-bottom: 19px;
  }
  
  .twt .twtqtbox,
  .twt .replyqtbox,
  .twt .mutedbox {
    border: .8px solid;
    border-radius: 10px;
    margin-top: -8px;
    padding: 10px 8px 0px 10px;
  }
  
  .twt .qtcontent {
    font-size: 14px;
    margin-top: -3px;
    margin-bottom: -10px;
  }
  
  .twt .qtid {
    padding-left: 25px;
    font-size: 14px;
    margin-top: -40px;
    position: absolute;
  }
  
  .twt .mutedbox {
    width: 226px;
    height: 43px;
    margin-bottom: 25px;
    overflow: hidden;
  }
  
  .twt .mutedcontent {
    margin: -20px;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 190px;
    font-size: 13.5px;
  }
  
  .twt .mutedview {
    margin-top: -12px;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 50px;
    left: 270px;
    font-weight: bold;
    font-size: 13.5px;
  }
  
  .twt .replypoll {
    height: 29px;
    width: 243px;
    margin-top: -5px;
    margin-bottom: 8px;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    border-color: #209AED;
  }
  
  .twt .replypolltext {
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -13.5px;
    font-size: 13px;
    color: #209AED;
  }
  
  .twt .pollvotes {
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 10px;
    font-size: 12px;
    display: inline-block;
  }
  
  .twt .replypollresults {
    height: 29px;
    width: 243px;
    margin-top: -5px;
    margin-bottom: 8px;
    border-radius: 5px;
    text-align: left;
    overflow: hidden;
  }
  
  .twt .replypollresultstext {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 215px;
    top: -12.5px;
    left: 8px;
    margin-right: -10px;
    font-size: 13px;
    z-index: 3;
  }
  
  .twt .replypollresultstext2 {
    position: relative;
    display: inline-block;
    top: -30px;
    left: -2px;
    font-size: 13px;
    z-index: 3;
  }
  
  .twt .pollbarwinner,
  .twt .pollbarothers {
    z-index: 2;
    left: -10px;
    top: -69px;
    margin-right: -20px;
    border-radius: 5px;
    min-width: 10px;
    border: 2px solid;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .twt .pollbarwinner {
    height: 26px;
  }
  
  .twt .pollbarothers {
    height: 25px;
  }
  
  .twt .pollbarwin25,
  .twt .pollbarwin50,
  .twt .pollbarwin75,
  .twt .pollbarwin100,
  .twt .pollbarlos25,
  .twt .pollbarlos50 {
    margin-top: -50px;
    height: 70px;
    display: inline-block;
    position: relative;
  }
  
  .twt .pollbarwin25,
  .twt .pollbarlos25 {
    width: 60px;
  }
  
  .twt .pollbarwin50,
  .twt .pollbarlos50 {
    width: 120px;
  }
  
  .twt .pollbarwin75 {
    width: 180px;
  }
  
  .twt .pollbarwin100 {
    width: 250px;
  }
  
  .twt .twtpollbarwinner {
    z-index: 2;
    left: -10px;
    top: -65px;
    margin-right: -20px;
    border-radius: 5px;
    min-width: 10px;
    height: 25px;
    border: 2px solid;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .twt .twtpollbarothers {
    z-index: 2;
    left: -10px;
    top: -65px;
    margin-right: -20px;
    border-radius: 5px;
    min-width: 10px;
    height: 25px;
    border: 2px solid;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .twt .twtpollbarwin25,
  .twt .twtpollbarwin50,
  .twt .twtpollbarwin75,
  .twt .twtpollbarwin100,
  .twt .twtpollbarlos25,
  .twt .twtpollbarlos50 {
    margin-top: -50px;
    height: 70px;
    display: inline-block;
    position: relative;
    background-size: 100%;
    background-repeat: repeat;
    margin-left: -10px;
  }
  
  .twt .twtpollbarwin25,
  .twt .twtpollbarlos25 {
    width: 75px;
  }
  
  .twt .twtpollbarwin50,
  .twt .twtpollbarlos50 {
    width: 150px;
  }
  
  .twt .twtpollbarwin75 {
    width: 225px;
  }
  
  .twt .twtpollbarwin100 {
    width: 300px;
  }
  
  .twt .twtid {
    padding-left: 65px;
    margin-top: -63px;
    font-size: 14px;
  }
  
  .twt .twtcontent {
    margin-top: -24px;
    padding: 0px 0px 0px 14px;
    font-size: 16px;
    display: inline-block;
    width: 300px;
    text-align: left;
  }
  
  .twt .twttimebox {
    width: 314px;
    min-height: 28px;
    margin-top: 0px;
    margin-left: 8px;
    margin-bottom: 20px;
  }
  
  .twt .twttime {
    font-size: 13px;
    display: inline-block;
    width: 300px;
    text-align: left;
    margin-left: 5px;
  }
  
  .twt .twtnumbers1 {
    font-size: 13px;
    margin-top: 14px;
    margin-bottom: 10px;
    margin-left: 5px;
    display: inline-block;
    position: relative;
    font-weight: bold;
  }
  
  .twt .twttext {
    font-size: 13px;
    font-weight: normal;
  }
  
  .twt .twtnumbers2 {
    font-size: 13px;
    margin-top: 14px;
    margin-bottom: 10px;
    margin-left: 25px;
    display: inline-block;
    position: absolute;
    font-weight: bold;
  }
  
  .twt .twtnumbers3 {
    font-size: 13px;
    margin-top: 14px;
    margin-bottom: 10px;
    margin-left: 145px;
    display: inline-block;
    position: absolute;
    font-weight: bold;
  }
  
  .twt .twtbutton1a,
  .twt .twtbutton1b,
  .twt .twtbutton2a,
  .twt .twtbutton2b,
  .twt .twtbutton2c,
  .twt .twtbutton3a,
  .twt .twtbutton3b,
  .twt .twtbutton4 {
    width: 24px;
    height: 24px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    position: absolute;
  }
  
  .twt .twtbutton1a,
  .twt .twtbutton1b {
    margin-left: -2px;
  }
  
  .twt .twtbutton2a,
  .twt .twtbutton2b,
  .twt .twtbutton2c {
    margin-left: 80px;
  }
  
  .twt .twtbutton3a,
  .twt .twtbutton3b {
    margin-left: 165px;
  }
  
  .twt .twtbutton4 {
    margin-left: 247px;
  }
  
  .twt .twtpoll {
    height: 29px;
    width: 295px;
    margin-top: -5px;
    margin-bottom: 8px;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    border-color: #209AED;
  }
  
  .twt .twtpolltext {
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -18px;
    margin-bottom: 2px;
    font-size: 13px;
    color: #209AED;
  }
  
  .twt .twtpollresults {
    height: 34px;
    width: 295px;
    margin-top: -5px;
    margin-bottom: 8px;
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
  }
  
  .twt .twtpollresultstext1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 275px;
    top: -7px;
    left: 8px;
    margin-right: -10px;
    font-size: 13px;
    z-index: 3;
  }
  
  .twt .twtpollresultstext2 {
    position: relative;
    display: inline-block;
    top: -30px;
    left: -9px;
    font-size: 13px;
    z-index: 3;
  }
  
  .twt .twtcirclebox1 {
    min-height: 50px;
    width: 310px;
    margin-left: -4px;
    margin-top: 10px;
    margin-bottom: 13px;
    border-radius: 10px;
  }
  
  .twt .twtcirclecontent {
    margin-top: 7px;
    margin-left: 44px;
    margin-right: 12px;
    font-size: 13px;
    display: inline-block;
    line-height: 17px;
    text-align: left;
  }
  
  .twt .dmsent1 {
    float: right;
    margin: 0.1em 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border-radius: 18px 18px 18px 18px;
    padding: .6em 1em .7em 1em;
    max-width: 70%;
    clear: both;
    font-size: 14px;
    position: relative;
    line-height: 16px;
    min-height: 19px;
    text-align: left !important;
    color: #FFFFFF;
    background: #209AED;
  }
  
  .twt .dmsent2 {
    float: right;
    margin: 0.1em 1em;
    margin-top: 0.2em;
    margin-bottom: 5px;
    border-radius: 18px 18px 4px 18px;
    padding: .6em 1em .7em 1em;
    max-width: 70%;
    clear: both;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    min-height: 19px;
    text-align: left !important;
    color: #FFFFFF;
    background: #209AED;
  }
  
  .twt .dmreceived1 {
    float: left;
    margin: 0.1em 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border-radius: 18px 18px 18px 18px;
    padding: .6em 1em .7em 1em;
    max-width: 70%;
    clear: both;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    min-height: 19px;
    text-align: left !important;
  }
  
  .twt .dmreceived2 {
    float: left;
    margin: 0.1em 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border-radius: 18px 18px 18px 4px;
    padding: .6em 1em 0.7em 1em;
    max-width: 70%;
    clear: both;
    font-size: 14px;
    position: relative;
    line-height: 16px;
    min-height: 19px;
    text-align: left !important;
  }
  
  .twt .dmtimestampsent {
    float: right;
    margin-top: 0px;
    margin-right: -3px;
    font-size: 11px;
    text-align: right !important;
    max-width: 70%;
    height: 13px;
    position: relative;
    line-height: 13px;
    display: inline-block;
  }
  
  .twt .dmtimestampreceived {
    float: left;
    margin-top: 2px;
    margin-left: -8px;
    font-size: 11px;
    text-align: left !important;
    max-width: 70%;
    height: 13px;
    position: relative;
    line-height: 13px;
    display: inline-block;
  }
  
  .twt .dmaddreactionsmall {
    height: 16px;
    width: 16px;
    position: absolute;
    display: inline-block;
    vertical-align: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .twt .dmaddreactionbig {
    height: 19px;
    width: 19px;
    position: absolute;
    display: inline-block;
    vertical-align: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 7px;
    margin-top: 5px;
  }
  
  .twt .dmreactionsent {
    float: right;
    margin: -1.2em 1.4em 2em 0em;
    padding: 0;
    font-size: 16px;
    text-align: right !important;
    width: 90%;
    height: 13px;
    position: relative;
    line-height: 10px;
    display: inline-block;
  }
  
  .twt .dmreactiontext {
    font-size: 11px;
    margin-right: 6px;
    display: inline-block;
  }
  
  .twt .dmreactionreceived {
    float: left;
    margin: -1.2em 0em 2em 1.4em;
    padding: 0em;
    font-size: 16px;
    text-align: left !important;
    width: 90%;
    height: 13px;
    position: relative;
    line-height: 10px;
    display: inline-block;
  }
  
  .twt .dmreactionborder {
    left: -5px;
    top: 20px;
    border-radius: 18px 18px 18px 18px;
    border: 1px solid;
    width: 40px;
    height: 22px;
    clear: both;
    position: absolute;
  }
  
  .twt .dmgroupchat {
    float: right;
    width: 280px;
  }
  
  .twt .dmemojisent {
    float: right;
    margin: 0.1em 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border-radius: 18px 18px 18px 18px;
    padding: .2em;
    max-width: 70%;
    clear: both;
    font-size: 20px;
    position: relative;
    line-height: 24px;
    min-height: 22px;
    text-align: right !important;
  }
  
  .twt .dmemojireceived {
    float: left;
    margin: 0.1em 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border-radius: 18px 18px 18px 18px;
    padding: .2em .2em .2em .1em;
    max-width: 70%;
    clear: both;
    position: relative;
    font-size: 20px;
    line-height: 24px;
    min-height: 22px;
    text-align: left !important;
  }
  
  .twt .dmsentimg {
    float: right;
    margin: 0.1em 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border-radius: 18px 18px 18px 18px;
    max-width: 70%;
    font-size: 14px;
    clear: both;
    position: relative;
    min-height: 50px;
    overflow: hidden;
  }
  
  .twt .dmreceivedimg {
    float: left;
    margin: 0.1em 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 14px;
    border-radius: 18px 18px 18px 18px;
    max-width: 70%;
    clear: both;
    position: relative;
    min-height: 50px;
    overflow: hidden;
  }
  
  .twt .linkdmreceived {
    color: #209AED;
    text-decoration: underline;
  }
  
  .twt .linkdmsent {
    text-decoration: underline;
  }
  
  .twt .dmdate {
    font-size: 11px;
    height: 13px;
    width: 328px;
    overflown: hidden;
    font-weight: bold;
    display: inline-block;
    position: relative;
    line-height: 13px;
    text-align: center;
    float: right;
    margin-top: 8px;
    margin-bottom: 12px;
  }
  
  .twt .dmvoicereceived,
  .twt .dmvoicesent {
    margin-left: -5px;
    margin-bottom: -11px;
    top: -3px;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: inline-block;
    z-index: 5;
  }
  
  .twt .dmvoicereceived {
    background-image: url("https://i.ibb.co/LNDMZJf/playreceived.png");
  }
  
  .twt .dmvoicesent {
    background-image: url("https://i.ibb.co/Z2bxpjJ/playsent.png");
  }
  
  .twt .dmvoicetimer {
    opacity: .7;
    display: inline-block;
    margin-top: 3px;
    padding-left: 20px;
  }
  
  .twt audio {
    opacity: 0;
    border-radius: 7px;
    width: 100px;
    z-index: 6;
    position: absolute;
  }
  
  .twt audio::-webkit-media-controls-play-button {
    height: 80px;
    margin-top: 1px;
    margin-left: -25px;
  }
  
  .twt .twtcantreply {
    min-height: 50px;
    width: 310px;
    margin-left: -4px;
    margin-top: 10px;
    margin-bottom: 13px;
    border-radius: 10px;
  }
  
  .twt .end2 {
    border-radius: 50%;
    width: 3px;
    height: 3px;
    margin-top: 15px;
    margin-left: 163px;
    position: relative;
  }
  
  .twt .end2 {
    margin-bottom: 15px;
  }
  
  .twt .blockedcontent,
  .twt .twtblockedcontent {
    margin-top: 1px;
    margin-left: 0px;
    display: inline-block;
    width: 273px;
    font-size: 13.5px;
    line-height: 14px;
    z-index: 9;
  }
  
  .twt .verticalblocked {
    border-left: 2.7px solid;
    min-height: 38px;
    display: inline-block;
    position: relative;
    top: 22px;
    left: 32px;
    z-index: 2;
  }
  
  .twt .qtdeleted {
    padding: 0px 1px 0px 10px;
    width: 230px;
    min-height: 50px;
    margin-top: -8px;
    margin-bottom: 25px;
    border: .8px solid;
    border-radius: 10px;
    z-index: 9;
  }
  
  .twt .twtqtdeleted {
    padding: 1px 8px 0px 10px;
    min-height: 50px;
    width: 275px;
    margin-top: -8px;
    margin-bottom: 19px;
    border: .8px solid;
    border-radius: 10px;
    z-index: 9;
  }
  
  .twt .deleted {
    display: inline-block;
    margin-top: 30px;
    width: 329px;
    margin-left: 1px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
  
  .twt .deletedbox {
    min-height: 20px;
    margin-top: 40px;
  }
  
  .twt .blockedbox {
    min-height: 50px;
    margin-top: 10px;
  }
  
  .twt .deletedbox,
  .twt .blockedbox {
    padding: 10px 2px 10px 10px;
    width: 287px;
    margin-bottom: -19px;
    margin-left: 12px;
    border: .8px solid;
    border-radius: 10px;
    z-index: 9;
  }
  
  .twt .replyimgbox1,
  .twt .replyimgbox2a,
  .twt .replyimgbox2b,
  .twt .replyimgbox3a,
  .twt .replyimgbox3b,
  .twt .replyimgbox4a,
  .twt .replyimgbox4b,
  .twt .imgboxcenA,
  .twt .imgboxcenB,
  .twt .imgboxcenC,
  .twt .twtimgbox1,
  .twt .twtimgbox2a,
  .twt .twtimgbox2b,
  .twt .twtimgbox3a,
  .twt .twtimgbox3b,
  .twt .twtimgbox4a,
  .twt .twtimgbox4b,
  .twt .qtimgbox1,
  .twt .twtimgboxqt1 {
    font-size: 0px;
    margin-bottom: 18px;
    overflow: hidden;
  }
  
  .twt .replyimgbox1,
  .twt .twtimgbox1 {
    min-height: 120px;
    max-height: 320px;
    border-radius: 10px;
    margin-top: -12px;
  }
  
  .twt .qtimgbox1 {
    margin-top: -12px;
    width: 227px;
    min-height: 120px;
    max-height: 300px;
    border-radius: 10px;
  }
  
  .twt .twtimgboxqt1 {
    margin-top: -12px;
    width: 275px;
    min-height: 120px;
    max-height: 320px;
    border-radius: 10px;
  }
  
  .twt .replyimgbox1 {
    width: 245px;
  }
  
  .twt .twtimgbox1 {
    width: 295px;
  }
  
  .twt .replyimgbox2a,
  .twt .twtimgbox2a,
  .twt .qtimgbox2a {
    margin-top: -12px;
    border-right: 4px solid transparent;
    border-radius: 10px 0px 0px 10px;
  }
  
  .twt .replyimgbox2a {
    width: 120px;
    height: 132px;
  }
  
  .twt .twtimgbox2a {
    width: 145px;
    height: 190px;
  }
  
  .twt .replyimgbox2b,
  .twt .twtimgbox2b {
    border-left: 4px solid transparent;
    border-radius: 0px 10px 10px 0px;
  }
  
  .twt .replyimgbox2b {
    margin-top: -150px;
    margin-left: 121px;
    width: 120px;
    height: 132px;
  }
  
  .twt .twtimgbox2b {
    margin-top: -208px;
    margin-left: 147px;
    width: 145px;
    height: 190px;
  }
  
  .twt .replyimgbox3a,
  .twt .twtimgbox3a,
  .twt .qtimgbox3a {
    border: 0px 0px 4px 4px solid transparent;
    border-radius: 0px 10px 0px 0px;
  }
  
  .twt .replyimgbox3a {
    margin-top: -150px;
    margin-left: 124px;
    width: 120px;
    height: 63.5px;
  }
  
  .twt .twtimgbox3a {
    margin-top: -208.5px;
    margin-left: 150px;
    width: 145px;
    height: 93px;
  }
  
  .twt .replyimgbox3b,
  .twt .twtimgbox3b,
  .twt .qtimgbox3b {
    margin-top: -13px;
    border: 4px 0px 0px 4px solid transparent;
    border-radius: 0px 0px 10px 0px;
  }
  
  .twt .twtimgbox3b {
    margin-left: 150px;
    width: 145px;
    height: 93px;
  }
  
  .twt .replyimgbox3b {
    margin-left: 124px;
    width: 120px;
    height: 63.5px;
  }
  
  .twt .replyimgbox4a,
  .twt .twtimgbox4a {
    margin-top: -12px;
    margin-bottom: 26px !important;
    border: 0px 4px 4px 0px solid transparent;
    border-radius: 10px 0px 0px 0px;
  }
  
  .twt .replyimgbox4a {
    width: 120px;
    height: 63.5px;
  }
  
  .twt .twtimgbox4a {
    width: 145px;
    height: 93px;
  }
  
  .twt .replyimgbox4b,
  .twt .twtimgbox4b {
    margin-top: -21px;
    border: 4px 4px 0px 0px solid transparent;
    border-radius: 0px 0px 0px 10px;
  }
  
  .twt .replyimgbox4b {
    width: 120px;
    height: 63.5px;
  }
  
  .twt .twtimgbox4b {
    width: 145px;
    height: 93px;
  }
  
  .twt .imgcenA:hover,
  .twt .imgcenB:hover,
  .twt .imgcenC:hover {
    opacity: 100%;
    transition: .5s;
  }
  
  .twt .imgboxcenA,
  .twt .imgboxcenB,
  .twt .imgboxcenC {
    background-image: url("https://i.ibb.co/w7P513P/censored.png");
    background-repeat: repeat-y;
    background-size: 100%;
    margin-top: -12px;
    width: 245px;
    border-radius: 10px;
  }
  
  .twt .imgboxcenA {
    height: 300px;
  }
  
  .twt .imgboxcenB {
    height: 245px;
  }
  
  .twt .imgboxcenC {
    height: 132px;
  }
  
  .twt .imgboxcenAsym,
  .twt .imgboxcenBsym,
  .twt .imgboxcenCsym {
    width: 30px;
    height: 30px;
    background-image: url("https://i.ibb.co/4RKL0dJ/eye.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    z-index: 1;
    position: absolute;
    left: 170px;
  }
  
  .twt .imgboxcenAsym {
    margin-top: 75px;
  }
  
  .twt .imgboxcenBsym {
    margin-top: 57px;
  }
  
  .twt .imgboxcenCsym {
    margin-top: 9px;
  }
  
  .twt .imgboxcenAtext1,
  .twt .imgboxcenBtext1,
  .twt .imgboxcenCtext1,
  .twt .imgboxcenAtext2,
  .twt .imgboxcenBtext2,
  .twt .imgboxcenCtext2 {
    left: 76px;
    margin-right: 20px;
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    z-index: 1;
    text-align: left;
    position: absolute;
    line-height: 1.2em;
  }
  
  .twt .imgboxcenAtext1 {
    margin-top: 115px;
    font-weight: bold;
  }
  
  .twt .imgboxcenBtext1 {
    margin-top: 92px;
    font-weight: bold;
  }
  
  .twt .imgboxcenCtext1 {
    margin-top: 40px;
    font-weight: bold;
  }
  
  .twt .imgboxcenAtext2 {
    margin-top: 135px;
  }
  
  .twt .imgboxcenBtext2 {
    margin-top: 112px;
  }
  
  .twt .imgboxcenCtext2 {
    margin-top: 60px;
  }
  
  .twt .imgboxcenAbutton,
  .twt .imgboxcenBbutton,
  .twt .imgboxcenCbutton {
    background: #000000;
    border-radius: 25px;
    height: 22px;
    width: 53px;
    display: inline-block;
    z-index: 1;
    position: absolute;
    left: 243px;
  }
  
  .twt .imgboxcenAbutton {
    margin-top: 185px;
  }
  
  .twt .imgboxcenBbutton {
    margin-top: 152px;
  }
  
  .twt .imgboxcenCbutton {
    margin-top: 100px;
  }
  
  .twt .imgboxcenbuttontext {
    font-weight: bold;
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    z-index: 1;
    position: absolute;
    left: 9px;
    top: 9px;
  }
  
  .twt .replyimg1,
  .twt .replyimg2a,
  .twt .replyimg2b,
  .twt .replyimg3a,
  .twt .replyimg3b,
  .twt .replyimg4a,
  .twt .replyimg4b,
  .twt .imgcenA,
  .twt .imgcenB,
  .twt .imgcenC,
  .twt .imgcen2a,
  .twt .imgcen2b,
  .twt .imgcen3a,
  .twt .imgcen3b,
  .twt .imgcen4a,
  .twt .imgcen4b,
  .twt .imgcen4c,
  .twt .imgcen4d,
  .twt .twtimg1,
  .twt .twtimg2a,
  .twt .twtimg2b,
  .twt .twtimg3a,
  .twt .twtimg3b,
  .twt .twtimg4a,
  .twt .twtimg4b,
  .twt .qtimg1,
  .twt .twtimgqt1 {
    font-size: 0px;
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  .twt .replyimg1,
  .twt .twtimg1,
  .twt .qtimg1,
  .twt .twtimgqt1 {
    margin-top: -20px;
    margin-bottom: -10px;
    border-radius: 10px;
  }
  
  .twt .replyimg1 {
    min-width: 245px;
    max-width: 290px;
    min-height: 120px;
  }
  
  .twt .twtimg1 {
    min-width: 300x;
    min-height: 175px;
  }
  
  .twt .qtimg1 {
    width: 227px;
    min-height: 120px;
  }
  
  .twt .twtimgqt1 {
    min-width: 275x;
    min-height: 175px;
  }
  
  .twt .imgcenA,
  .twt .imgcenB,
  .twt .imgcenC {
    margin-top: -1px;
    margin-bottom: -10px;
    opacity: 0%;
    z-index: 2;
  }
  
  .twt .imgcenA {
    min-width: 245px;
    min-height: 300px;
  }
  
  .twt .imgcenB {
    min-width: 247px;
    min-height: 247px;
  }
  
  .twt .imgcenC {
    min-width: 247px;
    min-height: 134px;
  }
  
  .twt .replyimg2a,
  .twt .replyimg2b {
    margin-top: -2px;
    min-width: 122px;
    max-width: 200px;
    min-height: 134px;
  }
  
  .twt .replyimg3a,
  .twt .replyimg3b {
    margin-top: -2px;
    min-width: 122px;
    max-width: 180px;
    min-height: 70px;
  }
  
  .twt .replyimg4a,
  .twt .replyimg4b {
    margin-top: -2px;
    min-width: 122px;
    max-width: 180px;
    min-height: 70px;
  }
  
  .twt .imgcen2a,
  .twt .imgcen2b {
    width: 120px;
    height: 132px;
  }
  
  .twt .imgcen2a {
    top: 1.1px;
    margin-left: 0px;
    border-right: .5px solid;
  }
  
  .twt .imgcen2b {
    top: -131px;
    margin-left: 121px;
    border-left: 4px solid;
  }
  
  .twt .imgcen3a,
  .twt .imgcen3b,
  .twt .imgcen4a,
  .twt .imgcen4b,
  .twt .imgcen4c,
  .twt .imgcen4d {
    width: 122px;
    height: 67px;
  }
  
  .twt .imgcen3a {
    top: -131px;
    margin-left: 121px;
    border-bottom: 4px solid;
    border-left: 4px solid;
  }
  
  .twt .imgcen3b {
    top: -139.5px;
    margin-left: 121px;
    border-top: 4px solid;
    border-left: 4px solid;
  }
  
  .twt .imgcen4a {
    top: .5px;
    left: -1px;
    border-bottom: 4px solid;
    border-right: 4px solid;
  }
  
  .twt .imgcen4b {
    top: -6px;
    left: -2;
    border-top: 4px solid;
    border-right: 4px solid;
  }
  
  .twt .imgcen4c {
    top: -142.5px;
    margin-left: 121px;
    border-bottom: 4px solid;
    border-left: 4px solid;
  }
  
  .twt .imgcen4d {
    top: -149px;
    margin-left: 121px;
    border-top: 4px solid;
    border-left: 4px solid;
  }
  
  .twt .twtimg2a,
  .twt .twtimg2b {
    margin-top: -2px;
    min-width: 147px;
    min-height: 192px;
  }
  
  .twt .twtimg3a,
  .twt .twtimg3b {
    margin-top: -2px;
    min-width: 147px;
    min-height: 95px;
  }
  
  .twt .twtimg4a,
  .twt .twtimg4b {
    margin-top: -2px;
    min-width: 147px;
    min-height: 95px;
  }
  
  .twt .priv,
  .twt .verified {
    display: inline-block;
    height: 12px;
    width: 12px;
    vertical-align: bottom;
    margin-top: -3px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .twt .headerdm .priv,
  .twt .headerdm .verified {
    height: 14px;
    width: 14px;
    margin-bottom: -10px;
  }
  
  .twt .promoted,
  .twt .link1,
  .twt .loc {
    display: inline-block;
    height: 13px;
    width: 13px;
    margin-right: 3px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .twt .dark .twtfooter,
  .twt .dark .headerdm,
  .twt .dark .footer,
  .twt .dark .dmfooterblocked {
    border-color: #2F3336;
    background: #000000;
  }
  
  .twt .dark .bg1,
  .twt .dark .bg2,
  .twt .dark .bg3 {
    background: #000000;
    color: #D9D9D9;
    border-color: #2F3336;
  }
  
  .twt .dark hr.line {
    background-color: #2F3336;
  }
  
  .twt .dark .dmfooter {
    background: #000000;
  }
  
  .twt .dark .headerbutton1 {
    background-image: url("https://i.ibb.co/QYSbrH1/arrow1.png");
  }
  
  .twt .dark .headerbutton4 {
    background-image: url("https://i.ibb.co/zrhSNG6/info.png");
  }
  
  .twt .dark .headertext,
  .twt .dark .headerdmtext {
    color: #D9D9D9;
  }
  
  .twt .dark .footerbutton6 {
    background-image: url("https://i.ibb.co/t2bXLLy/photo.png");
  }
  
  .twt .dark .dmfooterbar {
    background: #21282E;
  }
  
  .twt .dark .dmfooterbartext {
    color: #989A9D;
  }
  
  .twt .dark .dmfooterbutton1 {
    background-image: url("https://i.ibb.co/18X0644/dmbar1.png");
  }
  
  .twt .dark .dmfooterbutton2 {
    background-image: url("https://i.ibb.co/KrPxHLZ/dmbar2.png");
  }
  
  .twt .dark .dmfooterbutton3 {
    background-image: url("https://i.ibb.co/CW8MZSG/dmbar3.png");
  }
  
  .twt .dark .twtfootertext,
  .twt .dark .replyingto {
    color: #526472;
  }
  
  .twt .dark .replydots,
  .twt .dark .twtdots {
    background-image: url("https://i.ibb.co/jfpg8Bk/dotsblack.png");
  }
  
  .twt .dark .replyvertical1,
  .twt .dark .replyvertical2,
  .twt .dark .replyvertical3,
  .twt .dark .replyvertical4,
  .twt .dark .replyvertical5,
  .twt .dark .verticalblocked {
    border-color: #2F3336;
  }
  
  .twt .dark .replybutton1a,
  .twt .dark .twtbutton1a {
    background-image: url("https://i.ibb.co/qW67f8L/reply1.png");
  }
  
  .twt .dark .replybutton1b,
  .twt .dark .twtbutton1b {
    background-image: url("https://i.ibb.co/DbJqyj3/reply2.png");
  }
  
  .twt .dark .replybutton2a,
  .twt .dark .twtbutton2a {
    background-image: url("https://i.ibb.co/zSJCbZW/rt1.png");
  }
  
  .twt .dark .replybutton2b,
  .twt .dark .twtbutton2b {
    background-image: url("https://i.ibb.co/M1Shdpr/rt2.png");
  }
  
  .twt .dark .replybutton2c,
  .twt .dark .twtbutton2c {
    background-image: url("https://i.ibb.co/crYDXtY/rt3.png");
  }
  
  .twt .dark .replybutton3a,
  .twt .dark .twtbutton3a {
    background-image: url("https://i.ibb.co/Tq0w9DS/like1.png");
  }
  
  .twt .dark .replybutton3b,
  .twt .dark .twtbutton3b {
    background-image: url("https://i.ibb.co/f2gshp4/like2.png");
  }
  
  .twt .dark .replybutton4,
  .twt .dark .twtbutton4 {
    background-image: url("https://i.ibb.co/Btn8236/share.png");
  }
  
  .twt .dark .reply1a,
  .twt .dark .reply2a,
  .twt .dark .reply3a,
  .twt .dark .recent {
    color: #7C838A;
  }
  
  .twt .dark .reply1b,
  .twt .dark .reply2b {
    color: #25282B;
  }
  
  .twt .dark .replyqtbox,
  .twt .dark .twtqtbox {
    border-color: #202327;
  }
  
  .twt .dark .mutedcontent,
  .twt .dark .replyhandle,
  .twt .dark .dmfooterblocked,
  .twt .dark .blockedcontent,
  .twt .dark .twtblockedcontent {
    color: #7D838B;
  }
  
  .twt .dark .mutedview {
    color: #000000;
  }
  
  .twt .blue .twtcirclebox1,
  .twt .dark .twtcirclebox1 {
    background: #012219;
  }
  
  .twt .dark .pollvotes {
    color: #7C848A;
  }
  
  .twt .dark .pollbarwinner,
  .twt .dark .twtpollbarwinner {
    border-color: #115B8C;
    background: #115B8C;
  }
  
  .twt .dark .pollbarothers,
  .twt .dark .twtpollbarothers {
    border-color: #3C5465;
    background: #3C5465;
  }
  
  .twt .dark .pollbarwin25,
  .twt .dark .pollbarwin50,
  .twt .dark .pollbarwin75,
  .twt .dark .pollbarwin100,
  .twt .dark .twtpollbarwin25,
  .twt .dark .twtpollbarwin50,
  .twt .dark .twtpollbarwin75,
  .twt .dark .twtpollbarwin100 {
    background: #115B8C;
  }
  
  .twt .dark .pollbarlos25,
  .twt .dark .pollbarlos50,
  .twt .dark .twtpollbarlos25,
  .twt .dark .twtpollbarlos50 {
    background: #3C5465;
  }
  
  .twt .dark .imgcen2a,
  .twt .dark .imgcen2b,
  .twt .dark .imgcen3a,
  .twt .dark .imgcen3b,
  .twt .dark .imgcen4a,
  .twt .dark .imgcen4b,
  .twt .dark .imgcen4c,
  .twt .dark .imgcen4d,
  .twt .dark .icon {
    border-color: #000000;
  }
  
  .twt .dark .twttime,
  .twt .dark .twttext {
    color: #7C8488;
  }
  
  .twt .blue .dmreceived1,
  .twt .blue .dmreceived2,
  .twt .dark .dmreceived1,
  .twt .dark .dmreceived2 {
    background: #242E37;
    color: #D9D9DB;
  }
  
  .twt .dark .dmtimestampsent,
  .twt .dark .dmtimestampreceived {
    color: #7F8388;
  }
  
  .twt .dark .dmaddreactionsmall,
  .twt .dark .dmaddreactionbig {
    background-image: url("https://i.ibb.co/T0WcVcy/reaction.png");
  }
  
  .twt .dark .dmreactiontext {
    color: #BCC9D0;
  }
  
  .twt .dark .dmreactionborder {
    border-color: #3F515D;
  }
  
  .twt .dark .dmdate {
    color: #BDBDBD;
  }
  
  .twt .dark .twtcantreply {
    background: #051C2A;
  }
  
  .twt .dark .end2 {
    background: #313234;
  }
  
  .twt .dark .blockedbox,
  .twt .dark .qtdeleted,
  .twt .dark .twtqtdeleted,
  .twt .dark .deletedbox,
  .twt .dark .mutedbox {
    background: #16181C;
    border-color: #202327;
  }
  
  .twt .dark .priv {
    background-image: url("https://i.ibb.co/Bgk9kPJ/priv.png");
  }
  
  .twt .dark .verified {
    background-image: url("https://i.ibb.co/WkLChmb/verified.png");
  }
  
  .twt .dark .promoted {
    background-image: url("https://i.ibb.co/WGr09rW/promoted.png");
    margin-bottom: 3px !important;
  }
  
  .twt .blue .twtfooter,
  .twt .blue .headerdm,
  .twt .blue .footer,
  .twt .blue .dmfooterblocked {
    border-color: #39434E;
    background: #16202A;
  }
  
  .twt .blue .bg1,
  .twt .blue .bg2,
  .twt .blue .bg3 {
    background: #16202A;
    color: #FEFFFF;
    border-color: #39434E;
  }
  
  .twt .blue hr.line,
  .twt .blue .end2 {
    background-color: #39434E;
  }
  
  .twt .blue .dmfooter {
    background: #16202A;
  }
  
  .twt .blue .headerbutton1 {
    background-image: url("https://i.ibb.co/RPnzkcC/arrow1.png");
  }
  
  .twt .blue .headerbutton4 {
    background-image: url("https://i.ibb.co/pfdrPrP/info.png");
  }
  
  .twt .blue .headertext,
  .twt .blue .headerdmtext {
    color: #D9D9D9;
  }
  
  .twt .blue .footerbutton6 {
    background-image: url("https://i.ibb.co/q9Jn835/photo.png");
  }
  
  .twt .blue .dmfooterbar {
    background: #29363F;
  }
  
  .twt .blue .dmfooterbartext {
    color: #B4B7BC;
  }
  
  .twt .blue .dmfooterbutton1 {
    background-image: url("https://i.ibb.co/xMDkjPG/dmbar1.png");
  }
  
  .twt .blue .dmfooterbutton2 {
    background-image: url("https://i.ibb.co/G2SSGSK/dmbar2.png");
  }
  
  .twt .blue .dmfooterbutton3 {
    background-image: url("https://i.ibb.co/6tLqdCH/dmbar3.png");
  }
  
  .twt .blue .twtfootertext,
  .twt .blue .replyingto {
    color: #8699A5;
  }
  
  .twt .blue .replydots,
  .twt .blue .twtdots {
    background-image: url("https://i.ibb.co/hYC0G1s/dotsblue.png");
  }
  
  .twt .blue .replyvertical1,
  .twt .blue .replyvertical2,
  .twt .blue .replyvertical3,
  .twt .blue .replyvertical4,
  .twt .blue .replyvertical5,
  .twt .blue .verticalblocked {
    border-color: #39434E;
  }
  
  .twt .blue .replybutton1a,
  .twt .blue .twtbutton1a {
    background-image: url("https://i.ibb.co/bgjvjMC/reply1.png");
  }
  
  .twt .blue .replybutton1b,
  .twt .blue .twtbutton1b {
    background-image: url("https://i.ibb.co/VVgFMJv/reply2.png");
  }
  
  .twt .blue .replybutton2a,
  .twt .blue .twtbutton2a {
    background-image: url("https://i.ibb.co/42szZFy/rt1.png");
  }
  
  .twt .blue .replybutton2b,
  .twt .blue .twtbutton2b {
    background-image: url("https://i.ibb.co/fx35kdY/rt2.png");
  }
  
  .twt .blue .replybutton2c,
  .twt .blue .twtbutton2c {
    background-image: url("https://i.ibb.co/0nD8fDW/rt3.png");
  }
  
  .twt .blue .replybutton3a,
  .twt .blue .twtbutton3a {
    background-image: url("https://i.ibb.co/bXJhxLB/like1.png");
  }
  
  .twt .blue .replybutton3b,
  .twt .blue .twtbutton3b {
    background-image: url("https://i.ibb.co/w0Sk4F1/like2.png");
  }
  
  .twt .blue .replybutton4,
  .twt .blue .twtbutton4 {
    background-image: url("https://i.ibb.co/8MNwKQ7/share.png");
  }
  
  .twt .blue .reply1a,
  .twt .blue .reply2a,
  .twt .blue .reply3a,
  .twt .blue .recent {
    color: #8799A5;
  }
  
  .twt .blue .reply1b,
  .twt .blue .reply2b {
    color: #384451;
  }
  
  .twt .blue .replyqtbox,
  .twt .blue .twtqtbox {
    border-color: #38434E;
  }
  
  .twt .blue .mutedcontent,
  .twt .blue .replyhandle,
  .twt .blue .dmfooterblocked,
  .twt .blue .blockedcontent,
  .twt .blue .twtblockedcontent,
  .twt .blue .mutedview {
    color: #8799A5;
  }
  
  .twt .blue .pollvotes {
    color: #8799A5;
  }
  
  .twt .blue .pollbarwinner,
  .twt .blue .twtpollbarwinner {
    border-color: #1B689E;
    background: #1B689E;
  }
  
  .twt .blue .pollbarothers,
  .twt .blue .twtpollbarothers {
    border-color: #3D5466;
    background: #3D5466;
  }
  
  .twt .blue .pollbarwin25,
  .twt .blue .pollbarwin50,
  .twt .blue .pollbarwin75,
  .twt .blue .pollbarwin100,
  .twt .blue .twtpollbarwin25,
  .twt .blue .twtpollbarwin50,
  .twt .blue .twtpollbarwin75,
  .twt .blue .twtpollbarwin100 {
    background: #1B689E;
  }
  
  .twt .blue .pollbarlos25,
  .twt .blue .pollbarlos50,
  .twt .blue .twtpollbarlos25,
  .twt .blue .twtpollbarlos50 {
    background: #3D5466;
  }
  
  .twt .blue .imgcen2a,
  .twt .blue .imgcen2b,
  .twt .blue .imgcen3a,
  .twt .blue .imgcen3b,
  .twt .blue .imgcen4a,
  .twt .blue .imgcen4b,
  .twt .blue .imgcen4c,
  .twt .blue .imgcen4d,
  .twt .blue .profileicon,
  .twt .blue .icon {
    border-color: #16202A;
  }
  
  .twt .blue .twttime,
  .twt .blue .twttext {
    color: #8999A3;
  }
  
  .twt .blue .dmtimestampsent,
  .twt .blue .dmtimestampreceived {
    color: #8799A6;
  }
  
  .twt .blue .dmaddreactionsmall,
  .twt .blue .dmaddreactionbig {
    background-image: url("https://i.ibb.co/PwZS3Bk/reaction.png");
  }
  
  .twt .blue .dmreactiontext {
    color: #B9CAD2;
  }
  
  .twt .blue .dmreactionborder {
    border-color: #3F525D;
  }
  
  .twt .blue .twtcantreply {
    background: #153043;
  }
  
  .twt .blue .blockedbox,
  .twt .blue .qtdeleted,
  .twt .blue .twtqtdeleted,
  .twt .blue .deletedbox,
  .twt .blue .mutedbox {
    background: #182430;
    border-color: #202327;
  }
  
  .twt .blue .priv {
    background-image: url("https://i.ibb.co/MVks4TW/priv.png");
  }
  
  .twt .blue .verified {
    background-image: url("https://i.ibb.co/MPf16Bb/verified.png");
  }
  
  .twt .blue .promoted {
    background-image: url("https://i.ibb.co/C1Ys1Sw/promoted.png");
    margin-bottom: 3px !important;
  }
  
  .twt .light .twtfooter,
  .twt .light .headerdm,
  .twt .light .footer,
  .twt .light .dmfooterblocked {
    border-color: #D4D8DB;
    background: #ffffff;
  }
  
  .twt .light .bg1,
  .twt .light .bg2,
  .twt .light .bg3 {
    background: #ffffff;
    color: #000000;
    border-color: #D4D8DB;
  }
  
  .twt .light hr.line,
  .twt .light .end2 {
    background-color: #D4D8DB;
  }
  
  .twt .light .dmfooter {
    background: #ffffff;
  }
  
  .twt .light .headerbutton1 {
    background-image: url("https://i.ibb.co/R2LsDKg/arrow1.png");
  }
  
  .twt .light .headerbutton4 {
    background-image: url("https://i.ibb.co/PF8C3cZ/info.png");
  }
  
  .twt .light .headertext,
  .twt .light .headerdmtext {
    color: #000000;
  }
  
  .twt .light .dmfooterbartext,
  .twt .light .twtfootertext,
  .twt .light .replyingto,
  .twt .light .reply1a,
  .twt .light .reply2a,
  .twt .light .reply3a,
  .twt .light .mutedcontent,
  .twt .light .replyhandle,
  .twt .light .dmfooterblocked,
  .twt .light .blockedcontent,
  .twt .light .twtblockedcontent,
  .twt .light .pollvotes,
  .twt .light .mutedview,
  .twt .light .twttime,
  .twt .light .twttext,
  .twt .light .dmtimestampsent,
  .twt .light .dmtimestampreceived,
  .twt .light .dmreactiontext {
    color: #526472;
  }
  
  .twt .light .footerbutton6 {
    background-image: url("https://i.ibb.co/TvsrQZd/photo.png");
  }
  
  .twt .light .dmfooterbar {
    background: #EFF3F4;
  }
  
  .twt .light .dmfooterbutton1 {
    background-image: url("https://i.ibb.co/t25KrhW/dmbar1.png");
  }
  
  .twt .light .dmfooterbutton2 {
    background-image: url("https://i.ibb.co/J5zWQjp/dmbar2.png");
  }
  
  .twt .light .dmfooterbutton3 {
    background-image: url("https://i.ibb.co/XLdk8tb/dmbar3.png");
  }
  
  .twt .light .replydots,
  .twt .light .twtdots {
    background-image: url("https://i.ibb.co/WPp0gWK/dotslight.png");
  }
  
  .twt .light .replyvertical1,
  .twt .light .replyvertical2,
  .twt .light .replyvertical3,
  .twt .light .replyvertical4,
  .twt .light .replyvertical5,
  .twt .light .verticalblocked {
    border-color: #D4D8DB;
  }
  
  .twt .light .replybutton1a,
  .twt .light .twtbutton1a {
    background-image: url("https://i.ibb.co/CtJxPLy/reply1.png");
  }
  
  .twt .light .replybutton1b,
  .twt .light .twtbutton1b {
    background-image: url("https://i.ibb.co/qdbZHCB/reply2.png");
  }
  
  .twt .light .replybutton2a,
  .twt .light .twtbutton2a {
    background-image: url("https://i.ibb.co/3h5MH3J/rt1.png");
  }
  
  .twt .light .replybutton2b,
  .twt .light .twtbutton2b {
    background-image: url("https://i.ibb.co/SwRHT94/rt2.png");
  }
  
  .twt .light .replybutton2c,
  .twt .light .twtbutton2c {
    background-image: url("https://i.ibb.co/KG2r3RW/rt3.png");
  }
  
  .twt .light .replybutton3a,
  .twt .light .twtbutton3a {
    background-image: url("https://i.ibb.co/VYchGQv/like1.png");
  }
  
  .twt .light .replybutton3b,
  .twt .light .twtbutton3b {
    background-image: url("https://i.ibb.co/sVWHf7X/like2.png");
  }
  
  .twt .light .replybutton4,
  .twt .light .twtbutton4 {
    background-image: url("https://i.ibb.co/s1jyfST/share.png");
  }
  
  .twt .light .reply1b,
  .twt .light .reply2b {
    color: #D4D8DB;
  }
  
  .twt .light .replyqtbox,
  .twt .light .twtqtbox {
    border-color: #D3D8DB;
  }
  
  .twt .light .twtcirclebox1 {
    background: #ECFFF9;
  }
  
  .twt .light .pollbarwinner,
  .twt .light .twtpollbarwinner {
    border-color: #7BC5F6;
    background: #7BC5F6;
  }
  
  .twt .light .pollbarothers,
  .twt .light .twtpollbarothers {
    border-color: #D0D9DE;
    background: #D0D9DE;
  }
  
  .twt .light .pollbarwin25,
  .twt .light .pollbarwin50,
  .twt .light .pollbarwin75,
  .twt .light .pollbarwin100,
  .twt .light .twtpollbarwin25,
  .twt .light .twtpollbarwin50,
  .twt .light .twtpollbarwin75,
  .twt .light .twtpollbarwin100 {
    background: #7BC5F6;
  }
  
  .twt .light .pollbarlos25,
  .twt .light .pollbarlos50,
  .twt .light .twtpollbarlos25,
  .twt .light .twtpollbarlos50 {
    background: #D0D9DE;
  }
  
  .twt .light .imgcen2a,
  .twt .light .imgcen2b,
  .twt .light .imgcen3a,
  .twt .light .imgcen3b,
  .twt .light .imgcen4a,
  .twt .light .imgcen4b,
  .twt .light .imgcen4c,
  .twt .light .imgcen4d,
  .twt .light .icon {
    border-color: #ffffff;
  }
  
  .twt .light .dmreceived1,
  .twt .light .dmreceived2 {
    background: #EFF3F4;
    color: #000000;
  }
  
  .twt .light .dmaddreactionsmall,
  .twt .light .dmaddreactionbig {
    background-image: url("https://i.ibb.co/988Hfxv/reaction.png");
  }
  
  .twt .light .dmreactionborder {
    border-color: #D0D9DE;
  }
  
  .twt .light .dmdate {
    color: #2F3237;
  }
  
  .twt .light .twtcantreply {
    background: #EBFAFF;
  }
  
  .twt .light .blockedbox,
  .twt .light .qtdeleted,
  .twt .light .twtqtdeleted,
  .twt .light .deletedbox,
  .twt .light .mutedbox {
    background: #F7F9F8;
    border-color: #D3D8DB;
  }
  
  .twt .light .priv {
    background-image: url("https://i.ibb.co/Jq0tkwt/priv.png");
  }
  
  .twt .light .verified {
    background-image: url("https://i.ibb.co/vcSWx5Y/verified.png");
  }
  
  .twt .light .promoted {
    background-image: url("https://i.ibb.co/FqGTt08/promoted.png");
    margin-bottom: 3px !important;
  }