:root{
  --lightestval: #c9e4ca;
  --lightval: #87bba2;
  --middleval: #55828b;
  --darkval: #3b6064;
  --darkestval: #364958;
  --highlight: #c69b6f;
}


body{
  background-color: var(--lightestval);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


hr{
  border-top: 2px solid var(--darkval);
  width:85%;
}

/*General Button Cases*/
button{
  color: white;
  background-color: var(--darkval);
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid var(--darkval);
  padding: 5px 20px ;

}

button:hover{
  background-color: var(--middleval);
  border: 2px solid white;
}


/*For buttons to navigate back to start, at top of page*/
.nav{
  color: white;
  background-color: var(--darkestval);
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*For stack of buttons leading to somewhere like in index*/
.buttonlineup{
  width: fit-content;
  margin: 5px auto 5px 5%;
}

.workskin{
  width: 100%;
}


.ao3sim{
  display: block;
  height:max-content;
  background-color: white;
  padding: 10px 10%;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
}



.dropdown {  
  position: relative;  
  display: inline-block;  
}

textarea{
  height: 1.5em;
  margin: 0.5%
}

.largeinput{
  min-height: 4cm;
  overflow-y:hidden;
  margin: 5px auto;;
  width: 90%;
  box-sizing: border-box;
  padding: 5px;
  /* Match form field borders */
  border: 2px solid var(--middleval);
  vertical-align: text-top;
  
}

.longinput{
  width: 61%;

}

fieldset{
  border: none;
}

.note{
  background-color: var(--highlight);
  border: 2px solid var(--lightval);
  border-radius: 3px;
  font-family: monospace;
  font-weight: bold;
  padding: 15px;
  
  margin: 10px 20px;
  width: fit-content;
}

.note>li, .note>p{
  margin-bottom: 10px;
}


.columnify{
  columns: 150px 2;
  column-width: 100px;
  margin-left: 0px;
  margin-right: auto;
}

.distinguisher{
  display: block;
  padding: 20px;
  border: 2px solid var(--darkval);
  background-color: var(--lightval);
  border-radius: 5px;
  margin: 20px 0 20px 0;
}