:root{
  --lightestval: #c9e4ca;
  --lighterval: #b7d6bb;
  --lightval: #87bba2;
  --middleval: #55828b;
  --darkval: #3b6064;
  --darkestval: #364958;
  --highlight: #c69b6f;
}


body{
  background-color: var(--lightestval);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1, h2{
  text-align: center;
}

hr{
  border-top: 2px solid var(--darkval);
  width:85%;
}

/*General Button Cases*/
button{
  color: white;
  background-color: var(--darkval);
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid var(--darkval);
  padding: 5px 20px ;

}

button:hover{
  background-color: var(--middleval);
  border: 2px solid white;
}


/*For buttons to navigate back to start, at top of page*/
.nav{
  color: white;
  background-color: var(--darkestval);
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*For stack of buttons leading to somewhere like in index*/
.buttonlineup{
  width: 90vw;
  max-width: 17cm;
  margin: 5px auto 5px auto;

}

.workskin{
  width: 100%;
}

ol>li{
  font-size: large;
  margin: 8px 0;
}


.ao3sim{
  display: block;
  height:max-content;
  background-color: white;
  padding: 10px 10%;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
}



input, select{  
  position: relative;  
  display: inline-block;  
  color: var(--darkval);
  border: 2px solid var(--middleval);
}

textarea{
  height: 1.5em;
  margin: 0.5%;
  border: 2px solid var(--middleval);
  min-height: 2em;
  overflow-y:hidden;
  margin: 5px auto;
  width: 50vw;
  min-width: 4cm;
  max-width: 6cm;
  box-sizing: border-box;
  padding: 5px;
  /* Match form field borders */
  vertical-align: text-top;
}

.largeinput{
  min-height: 3cm;
  overflow-y:hidden;
  margin: 5px auto;
  width: 80vw;
  max-width: 15cm;
  box-sizing: border-box;
  padding: 5px;
  /* Match form field borders */
  border: 2px solid var(--middleval);
  vertical-align: text-top;
  
}

.longinput{
  min-height: 2em;
  overflow-y:hidden;
  margin: 5px auto;
  width: 80vw;
  max-width: 15cm;
  box-sizing: border-box;
  padding: 5px;
  /* Match form field borders */
  border: 2px solid var(--middleval);
  vertical-align: text-top;
}

fieldset{
  border: none;
}

.note{
  background-color: var(--highlight);
  border: 2px solid var(--lightval);
  border-radius: 3px;
  font-family: monospace;
  font-weight: bold;
  padding: 1em 2em;
  
  margin: 10px 20px;
  width: fit-content;
}

.note>li, .note>p{
  margin-bottom: 10px;
}


.columnify{
  columns: 150px 2;
  column-width: 100px;
  margin-left: 0px;
  margin-right: auto;
}

.distinguisher{
  display: block;
  padding: 20px;
  border: 2px solid var(--darkval);
  background-color: var(--lightval);
  border-radius: 5px;
  margin: 20px 0 20px 0;
}

a{

text-decoration: none;
color:#006258a0;
font-weight: bold;
}

a:hover{
  text-decoration: underline;
}


/*
Mostly for tutorial.html, to make it easier to read when on desktop
*/
.easytoread{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80vw;
  max-width: 13cm;
  background-color: var(--lighterval);
  padding: 3em 5vw;
  border-radius: 15px;

}

.easytoread p{
  margin: 0.5em 0
}

/*
Mostly for tutorial.html, to make it easier to read when on desktop
*/

.tableofcontents{
  width: fit-content;
  background: rgb(135,187,162);
  background: linear-gradient(162deg, rgba(135,187,162,1) 0%, rgba(135,187,168,1) 48%, rgba(135,187,174,1) 100%); 
  
  padding: 10px 0 ;
  border: 4px solid var(--middleval);
  border-radius: 10px;
}
.tableofcontents p{
  margin: 0;
  line-height: 0;

}
.tableofcontents a, .tableofcontents h3{
  color:#174061;
  display: block;
  text-decoration: none;
  padding: 1em 20px;
  margin: 0;
  line-height: 1;
}

.tableofcontents a:hover{
display: block;
color:#03009d;
background-color: #579c8e;
}

