.yt{
   display: grid;
    background-color: rgb(0, 0, 0); 
   padding: 7px;
   width: 325px;
   margin: auto;
   border-radius: 3px;
}

.thumbnail{
    display: grid;

    padding: auto;
    padding-top: 160px;
    margin: 0px;
    border-radius: 7px;
}

.color1{background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);}
.color2{background: linear-gradient(20deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);}
.color3{background: linear-gradient(291deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);}
.image1{
    background-image: url("https://images.squidge.org/images/2023/08/23/BG2.jpeg");
    background-size: cover;
    background-position: center;
} 
.image2{
    background-image: url("https://images.squidge.org/images/2023/09/14/00d56b33f5a708454d853fbad6d2e18a.jpeg");
    background-size: cover;
    background-position: center;

}

p.time{
    padding: 3px;
    margin: auto;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    background: rgb(0, 0, 0);
    color: white;
    font-family: sans-serif;
    font-size:x-small;
}

.info{
    display: grid;
    grid-template-columns: 45px auto 1fr auto 10px auto;
    line-height: 130%;
}

.yt_title{
    font-family: sans-serif;
    color:rgb(255, 255, 255);
    
}

img.icon{
width:35px;
height:35px;
border-radius: 50%;
}

.rest{
    font-family: sans-serif;
    color:rgba(255, 255, 255, 0.535);
    font-size: small;
}

.threedots{
color:white;
font-size: larger;
margin: auto;
margin-top: 15px;
margin-right: 0%;
}