/* set the position of dropdown */  
.dropdown {  
  position: relative;  
  display: inline-block;  
}  
/* set the size and position of button on web */  
.button {  
  padding: 10px 30px;  
  font-size: 15px;  
}  
/* provide css to background of list items */   
#list-items {  
 display: none;  
 position: absolute;  
 background-color: white;  
 min-width: 185px;  
}  
/* provide css to list items */   
#list-items a {  
  display: block;  
  font-size: 18px;  
  background-color: #ddd;  
  color: black;  
  text-decoration: none;  
  padding: 10px;  
}  